$theme-colors: (
  "primary": #74bcfc,
  "danger": #d88f8b
);

@import "~bootstrap/scss/bootstrap.scss";

body {
  padding-top: 6rem;
  font-family: "Open Sans", serif;
  background: #ecf0f3;
}

a .card.product {
  color: #212529;
  &:hover {
    text-decoration: underline overline dotted red;
  }
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: blue;
}