@import "stripe";
@import url('//fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

body {
  padding-top: 6rem;
  font-family: 'Lato', sans-serif;
  background: #ecf0f3;
}

a .card.product {
  color: #212529;
  &:hover {
    text-decoration: underline overline dotted red;
  }
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: blue;
}


