@import "bootstrap";
@import "stripe";

body {
  padding-top: 6rem;
  font-family: "Open Sans", serif;
  background: #ecf0f3;
}

.card.product {
  // height: 100%;
  a {
    color: #212529;
  }
  a:hover {
    text-decoration: underline overline dotted red;
  }
}
